#
# .gitignore
#

# Glade, UI and XML backup files.
*.glade~
*.ui~

# Object files generated during the build process.
*.o

# The generated ui-resources C file.
src/ui-resources.c

# The compiled, runnable program.
memoapp

